<div class="flx">
    <div id="datepicker"></div>
</div>
<div class="flx">
    <i class="fa fa-times-rectangle lightGreen" style="background-color: green;color: green;"></i>
    <span>> 10</span>
</div>
<div class="flx">
    <i class="fa fa-times-rectangle darkGreen" style="background-color: turquoise;color: turquoise;"></i>
    <span>1-10</span>
</div>
<div class="flx">
    <i class="fa fa-times-rectangle yellow" style="color: antiquewhite;background-color: antiquewhite;"></i>
    <span><= 0</span>

</div>